.PopUpForm {
    position: fixed;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 150px;
    z-index: 100;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 2px solid black;

    .popUpName {
        margin: 15px 0;
    }

    .popUpButton {
        padding: 8px 50px;
        margin-top: 10px;
        border: none;
        background-color: #e9c46a;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .description, .person, .deadline {
        margin: 0 10px;
        border: 1px solid grey;
    }
}

